body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 60px;
    background: #f7f3ed;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
